li { font-size:20px;}

body{
/*text-align: center;*/

background-image:url("http://4.bp.blogspot.com/-eNi6vLyAzwQ/UZZdaZk2hxI/AAAAAAAAkeg/qiMeur68puw/s1600/Papel-de-Parede-Caveira.jpg");
background-repeat:repeat;
height:auto;
width:auto;
}

4.bp.blogspot.com
4.bp.blogspot.com

